{% extends 'social/layout.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <title>Busqueda de resultados</title>
</head>
<body>
    <h1 class="t1">Busqueda de resultados</h1>
    <h2 class="t2">Muestra del paciente</h2>
    <div class="btn-group">
        <form action="{% url 'resultados' %}" id="form" role="busqueda" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="search" name="busqueda"
             placeholder="Buscar..."
             aria-label="Search through site content"
             id="resultados">
            <button>Buscar</button>
        </form>

        <form>
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script>
                $( function() {
                  $( "#resultados" ).autocomplete({
                    source: "{% url 'resultados' %}"
                  });
                } );
                </script>   
        </form>
    </div>
</body>
</html>
{% endblock %}