{% extends 'social/layout.html' %}
{% include 'social/busquedaexpediente.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Expediente</title>
</head>
<body>
    <h1 class="t1">Expediente</h1>
    <h2 class="t2">Paciente: {{request.GET.busqueda}}</h2>
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    {{consultas}}
</body>
</html>
{% endblock %}