{% extends 'social/layout.html' %}
{% include 'social/busquedaexpediente.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Expediente</title>
</head>

<body>
    <h1 class="t1">Expediente</h1>
    <h2 class="t2">Paciente: {{request.GET.busqueda}}</h2>
    <br>
    <div>
        <table>
            <tr id="header">
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Doctor</th>
            </tr>
            {% for consultas in consultas %}
            <tr>
                <td>{{ consultas.fecha }}</td>
                <td>{{ consultas.motivo }}</td>
                <td>{{ consultas.edad }}</td>
                <td>{{ consultas.peso }}</td>
                <td>{{ consultas.altura }}</td>
                <td>{{ consultas.doctor }}</td>
            </tr>
            {% endfor %}
        </table>    
    </div>
    
</body>

</html>
{% endblock %}