{% extends 'social/layout.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="btn-group">
        <h1 class="t1">Acceda como</h1>
        <button><a href="{% url 'login' %}">Paciente</a></button>
        <button><a href="{% url 'login' %}">Especialista</a></button>
    </div>
    <script src="{% static 'functions.js' %}"></script>
</body>

</html>
{% endblock %}