{% extends 'social/layout.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Menu</title>
</head>

<body>
    
        <h1 class="t1">Menú principal staff</h1><br>
    
            <div class="btn-group">
                
                <button><a href="{% url 'citas' %}">Citas</a></button>
                <button><a href="{% url 'gestionarstaff' user.idPaciente %}">Gestionar usuario</a></button> 
                <button><a href="{% url 'creacionconsulta' %}">Creación de consulta</a></button> 
                <button><a href="{% url 'creacionexpediente' %}">Creación y edición de expediente</a></button>
                <button><a href="{% url 'catalogolaboratorios' %}">Catálogo de estudios</a></button>
                <button><a href="{% url 'busquedalaboratorios' %}">Buscar estudios</a></button>
                <button><a href="{% url 'asignarlaboratorio' %}">Asignar estudio</a></button>
                <button><a href="{% url 'visualizacionderesultados' %}">Visualizar resultados de estudios</a></button>
                <button><a href="{% url 'busquedaexpediente' %}">Buscar expediente</a></button>
                <button><a href="{% url 'establecerhorarios' %}">Establecer horarios</a></button>
                <button><a href="{% url 'registroEspecialidades' %}">Registrar Especialidades</a></button>
                
            </div>
            <script src="{% static 'functions.js' %}"></script>
    
</body>

</html>
{% endblock %}