<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Este es el menu principal</h1> 
    <ul>
        <li><a href="{% url 'citas' %}">Agendar cita</a></li>
        <li>Laboratorios</li>
        <li>Resultados de laboratorio</li>
        <li>Agendar cita</li>
        <li>Agendar cita</li>
        <li>Agendar cita</li>
    </ul>
</body>
</html>